<section class="registeren">
    <h2>Registeren</h2>
    <form action="/", method="POST">
        <div>
            <label for="name">Naam:</label>
            <input type="text" name="naam" >
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>
        <button>Verzenden</button>
    </form>
</section>