*, html{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

body{
    background-color: grey;
}

header{
    background-color: black;
    color: burlywood;
    padding: 1em;
    text-align: center;
}

footer{
    background-color: black;
    color: burlywood;
    padding: 1em;
    text-align: center;
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
}



.registeren{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 20em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    border-radius: 1em;
    gap: 1em;
}

.registeren form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.registeren form div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.registeren form div input{
    padding: 1em;
    border-radius: 1em;
    border: none;
    outline-color: burlywood;
}

.registeren form button{
    background-color: burlywood;
    color: black;
    border: none;
    border-radius: 1em;
    padding: 1em;
}

.home{
    margin: auto;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 5em;
}

.home button{
    width: fit-content;
    align-self: flex-end;
    background-color: black;
    color: burlywood;
    border: none;
    border-radius: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
}

.home div{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.home div section{ 
    background-color: white;
    color: black;
    flex-basis: 45%;
    padding: 1em;
    flex-grow: 1;
    border-radius: 1em;
    height: 10em;
}