html
html
   head
      title Form Test
      link(rel="stylesheet", href="../../static/style.css")
   body
      form(action = "/", method = "POST")
         div
            label(for = "naam") Naam:
            input(name = "naam" value = "")
         br
         div
            label(for = "email") Email:
            input(name = "email" value = "")
         br
         button(type = "verzenden") Verzenden