<section>
        <form>
            <fieldset>
                <legend>Login</legend>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>
                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Login">
            </fieldset>
        </form>
    </section>